#labelPort{
    -fx-margin: 0 auto;
    -fx-pref-width: 162px;
    -fx-pref-height: 29px;

    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-font-size: 24px;
    -fx-line-height: 29px;

    -fx-text-fill: #000000;
}

.button{
    -fx-align-items: center;
    -fx-pref-width: 130px;
    -fx-pref-height: 40px;

    -fx-background-color: #397E82;
    -fx-box-shadow: inset 0px 5px 5px rgba(85, 91, 110, 0.15);
    -fx-border-radius: 15px;
    -fx-background-radius: 10px;


    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-font-size: 20px;


    -fx-text-fill: #fff;

}

.list-view{
    /* Frame 1171276326 */

    -fx-box-sizing: border-box;

    -fx-align-items: center;
    -fx-gap: 10px;

    /*-fx-pref-width: 668px;*/
    /*-fx-pref-height: 391px;*/

    -fx-background-color: #F3F3F3;
    -fx-border-color: #000000;
    -fx-border-radius: 18px;

}
